body {
    margin: 0;
    background-image: url('https://abrakadabra.fun/uploads/posts/2021-12/thumbs/1640976838_12-abrakadabra-fun-p-fon-dlya-rezyume-13.jpg');
    font-family: Palatino, "URW Palladio L", serif;
    background-repeat: no-repeat;
    background-size: cover;
    Palatino, URW Palladio L, serif;
    
}

ul,
ol {
    list-style: none; 
    margin: 0;        
    padding: 0;       
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.resume {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
}

aside {
    flex: 0 0 320px;
    background: #2c3e50;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    max-width: 25rem;
}

main {
    flex: 1;
    min-width: 0;
    padding: 30px;
    width: auto;
    background: white;
    max-width: 60rem;
}



h2 {
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
    margin-left: 3px;
    align-items: left;
    font-size: 30px;
    margin-top: 20px;
}

span {
    line-height: 1.5;
}


.profile-photo {
    width: 80%;
    height: auto;
    margin: 0 auto 30px auto;
    display: block;
    border-radius: 50%;
    object-fit: cover;
}

main span {
    font-family: 'Inter', system-ui, sans-serif;
    font-size: 20px;
    font-weight: 400;           /* Regular */
    line-height: 1.1;
    max-width: 850px;
    margin-top: 0.95rem;
    text-align: center;

}

.kontakts .item:first-child, .sprachen .item:first-child {
    margin-top: 25px;
}

.item {
    display: flex;
    gap: 12px;
    margin-bottom: 20px;
    margin-left: 15px;
}

.contact-text {
    
    margin: 0;
    line-height: 1.2;
}

.text-in-kontakts span {
    font-size: 20px;
    display: flex;
}

.icon {
    display: flex;
    flex-shrink: 0;
    margin-top: 7px;
    width: 2.5rem;
    height: 2.5rem;
    stroke: #ece5e5;
}


.skills .item:first-child{
    margin-top: 10px;
}

.skills .icon {
    width: 2.5rem;
    height: 2.5rem;
    stroke: #ece5e5;
}

.skills span {
    font-size: 28px;
    text-align: center;
    margin-top: 0.5rem;
}

.mysql-icon {
    width: 50px;
    height: 55px;
}

.sprachen span {
    flex: 1;
    font-size: 22px;
    margin-top: 12px;
    margin-left: 5px; 
}

.sprachen span:last-child {
    text-align: right;
    margin-right: 10px;
}

.header h1 {
    font-family: 'Helvetica Neue', Arial, system-ui;
    font-size: 4.6rem;          
    font-weight: normal;
    color: #1a1a1a;
    margin: 0;
    text-align: center;

    line-height: 1.0;
    letter-spacing: 0.5px;

    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.30);
}

.header h2 {
    font-family: 'Helvetica Neue', Arial, system-ui;
    font-size: 1.39rem;
  
    letter-spacing: 0.5px;
    font-weight: normal;
    color: #000;
    text-align: center;
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
    
    margin-top: 10px;
}

.about span  {
    margin: 10px 30px -10px 30px;
    display: flex;
    font-size: 1rem;
    text-align: center;
}

.timeline {
    position: relative;
    max-width: 800px;
    margin: 40px auto;
    padding: 20px 0;
}

.timeline::before {
    content: '';
    position: absolute;
    left: 28px;
    top: 0;
    bottom: 0;
    width: 4px;
    background: #000000;
    z-index: 1;
}

.timeline-item {
    position: relative;
    margin-bottom: 50px;
    padding-left: 60px;
}

.timeline-item::before {
    content: '';
    position: absolute;
    left: 21px;
    top: 4px;
    width: 14px;
    height: 14px;
    background: white;
    border: 3px solid #000000;
    z-index: 2;
    box-shadow: 1 1 1 4px #474747;
}

.date {
    font-weight: bold;
    font-size: 1.3rem;
    color: #000;
}

.timeline h3 {
    font-size: 1.3rem;
    font-weight: normal;
}

.institution {
    color: #000000;
    margin-bottom: 15px;
    font-size: 1.3rem;
    font-weight: semi-bold;
    
}

.schwerpunkte span {
    font-size: 1.1rem;
}

.schwerpunkte ul {
    padding-left: 20px;
    margin: 3px 0;
}

.schwerpunkte li {
    font-size: 1.1rem;
    margin-bottom: 0;
    margin-left: 15px;
    list-style-image: url('Bilder/li.svg');
}

@media (max-width: 768px) {
    .resume {
        flex-direction: column;
    }

    .left-column,
    .right-column, aside {
        max-width: 100%;
    }

    body {
        font-size: 1rem;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    img {
        max-width: 70%;
        height: auto;
    }

    span {
        font-size: 0.5rem;
    }
}

img,
svg {
    max-width: 100%;
    height: auto;
}

