body {
    margin: 0;
    background: #bec4c5;
    font-family: Arial, sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.resume {
    display: flex;
    max-width: 1500px;
    margin: 0 auto;
    min-height: 100vh;
    background: white;
}

.indent_sides {
    width: 5%;
    background: #bec4c5;

}

aside {
    flex: 1;
    background: #2c3e50;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

main {
    flex: 2 ;
    padding: 30px;
}



h2 {
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
}

p {
    line-height: 1.5;
}


img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.header h1 {
    font-family: 'Great Vibes', cursive;
      font-size: 4.6rem;           /* подбери под себя */
      font-weight: normal;
      color: #1a1a1a;
      margin: 0;
      text-align: center;

      line-height: 1.0;
      letter-spacing: 0.5px;

    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.30);
}

.header h2 {
    font-family: 'Playfair Display', cursive;
    font-style: italic;
    font-size: 1.39rem;
    color: #000000;
  
    letter-spacing: 0.5px;
    font-weight: normal;
    color: #000;
    text-align: center;
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
    
    margin-top: 10px;
}

.about p {
    font-family: 'Solway', serif;
    font-size: 21px;
    font-weight: 400;           /* Regular */
    line-height: 1.1;
    max-width: 850px;
    margin-top: 0.95rem;
    text-align: center;

}

.about text {
    margin-left: 30px;
}