body {
    margin: 0;
    background-image: url('https://abrakadabra.fun/uploads/posts/2021-12/thumbs/1640976838_12-abrakadabra-fun-p-fon-dlya-rezyume-13.jpg');
    font-family: 'Inter', system-ui, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
}

ul,
ol {
    list-style: none; 
    margin: 0;        
    padding: 0;       
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.resume {
    display: flex;
    max-width: 1300px;
    margin: 0 auto;
    min-height: 100vh;
    background: white;
}

aside {
    flex: 1;
    background: #2c3e50;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    
}

main {
    flex: 2 ;
    padding: 30px;
}



h2 {
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
    margin-left: 3px;
    align-items: left;
    font-size: 30px;
    margin-top: 20px;
}

span {
    line-height: 1.5;
}


.profile-photo {
    width: 80%;
    height: auto;
    margin: 0 auto 30px auto;
    display: block;
    border-radius: 50%;
    object-fit: cover;
}

.header h1 {
    font-family: 'Great Vibes', cursive;
      font-size: 4.6rem;           /* подбери под себя */
      font-weight: normal;
      color: #1a1a1a;
      margin: 0;
      text-align: center;

      line-height: 1.0;
      letter-spacing: 0.5px;

    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.30);
}

.header h2 {
    font-family: 'Playfair Display', cursive;
    font-style: italic;
    font-size: 1.39rem;
  
    letter-spacing: 0.5px;
    font-weight: normal;
    color: #000;
    text-align: center;
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
    
    margin-top: 10px;
}

main span {
    font-family: 'Inter', system-ui, sans-serif;
    font-size: 20px;
    font-weight: 400;           /* Regular */
    line-height: 1.1;
    max-width: 850px;
    margin-top: 0.95rem;
    text-align: center;

}

.kontakts .item:first-child, .sprachen .item:first-child {
    margin-top: 25px;
}

.item {
    display: flex;
    gap: 12px;
    margin-bottom: 20px;
    margin-left: 15px;
}

.contact-text {
    
    margin: 0;
    line-height: 1.2;
}

.text-in-kontakts span {
    font-size: 20px;
    display: flex;
}

.icon {
    display: flex;
    flex-shrink: 0;
    margin-top: 7px;
    width: 45px;
    height: 45px;
    stroke: #ece5e5;
}

.skills .item:first-child{
    margin-top: 10px;
}

.skills .icon {
    width: 49px;
    height: 49px;
    stroke: #ece5e5;
}

.skills span {
    font-size: 30px;
    line-height: 1.2;
    margin-top: 0.95rem;
}

.mysql-icon {
    width: 50px;
    height: 55px;
}

.sprachen span {
    flex: 1;
    font-size: 25px;
    margin-top: 12px;
    margin-left: 5px;
}

.sprachen span:last-child {
    text-align: right;
}
